.conti{
	padding: 4px 10px;
	border-radius: 6px;
	font-size: 16px;
	white-space: nowrap;
    	overflow: hidden;
    	text-overflow: ellipsis;
	display: flex;
	align-items: end;
	justify-content: end;
	
}
.ft{
	font-size:24px;
	padding: 0px;
}
.head1 {
    min-height: 100px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 10px solid white;
}
.head1 h1 {
    font-size: 36px;
    margin: 0;
    padding: 20px;
}

.dim{		
	min-height: 100px;
	border-radius: 15px;
}
.dim1{
	min-height: 100px;
}
.man{
	margin-top: 120px;
}
.continue{
	border-radius: 5px;
	padding: 5px;
	font-size: 20px;
}
.inputnum {
    max-width: 100%;
    color: white;
    background-color: RGBA(var(--bs-dark-rgb), var(--bs-bg-opacity, 1));
    border-radius: 5px;
    min-height: 30px;
    font-size: 20px;
    text-align: center;
    font-family: 'Century Gothic';
}
.inputnum::-webkit-inner-spin-button,
.inputnum::-webkit-outer-spin-button,
.inputnum::-webkit-clear-button {
    display: none;
}

.inputnum::-webkit-inner-spin-button,
.inputnum::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
}
.inputnum::placeholder {
    font-size: 16px;
    padding-bottom: 5px;
}
.cal{
	justify-content: center;
}
.but{
	margin-top: 110px;
}
a{
	text-decoration: none;
}
h4{
	font-size: 20px;
}
h6{
	font-size: 22px;
}
.card-body{
	margin: 5px;
}
@font-face {
        font-family: 'CenturyGothic';
        src: url('CenturyGothic.eot'); /* IE9 Compat Modes */
        src: url('CenturyGothic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
             url('CenturyGothic.woff') format('woff'), /* Modern Browsers */
             url('CenturyGothic.ttf')  format('truetype'), /* Safari, Android, iOS */
             url('CenturyGothic.svg#svgFontName') format('svg'); /* Legacy iOS */
}

	



	



