body{
	background-color: RGBA(var(--bs-dark-rgb),var(--bs-bg-opacity,1));
	font-family: Bell MT;
}
.bigbox{
	height: 600px;
	background-color: red;
	margin-top: 80px;
	max-width: 420px;
	justify-content: center;
	background-color: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(0.5px);
}
#numboxes{
	max-width: 420px;
	overflow: scroll;
	overflow-x: hidden;
	height: 398px;
	margin-top: 15px;
	z-index: 3;
}
.credit{
	margin-left:65px;
	padding:5px 11px 5px 11px;
	font-size:22px;
	margin-top:20px;
	background-color:white;
	color:RGBA(var(--bs-dark-rgb),var(--bs-bg-opacity,1));
	font-weight:bold;
}
.grade{
	margin-left:75px;
	padding:5px 11px 5px 11px;
	font-size:22px;
	margin-top:20px;
	background-color:white;
	color:RGBA(var(--bs-dark-rgb),var(--bs-bg-opacity,1));
	font-weight:bold;
}
::-webkit-scrollbar{
	max-width:5px;
}
::-webkit-scrollbar-thumb{
	background:RGBA(var(--bs-dark-rgb),var(--bs-bg-opacity,1));
	border-radius: 5px;	
}
hr{
	color: white;
}
.head{
	color:RGBA(var(--bs-dark-rgb),var(--bs-bg-opacity,1));
	font-weight: bold;
} 
.conti{
	font-size: 20px;
	margin-left: 150px;
}
a{
	text-decoration: none;
	color: white;
}

	
