@font-face {
  font-family: 'Century Gothic';
  src: url('CenturyGothic.ttf') format('truetype');
}
body {
  font-family: 'Century Gothic', sans-serif;
  background-color: RGBA(var(--bs-dark-rgb),var(--bs-bg-opacity,1));
}
.bigbox{
	height: 600px;
	background-color: red;
	margin-top: 80px;
	max-width: 400px;
	justify-content: center;
	background-color: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(0.5px);
	padding-right: 5px;
}
#numboxes{
	max-width: 420px;
	overflow: scroll;
	overflow-x: hidden;
	height: 398px;
	margin-top: 15px;
}
.credit{
	padding:5px 8px 5px 8px;
	margin-right: 2px;
	font-size: 18px;
	margin-top:20px;
	background-color:white;
	color:RGBA(var(--bs-dark-rgb),var(--bs-bg-opacity,1));
	font-weight: bolder;
}
.grade{
	margin-right: 3px;
	margin-left: 2px;
	padding:5px 8px 5px 8px;
	font-size:18px;
	margin-top:20px;
	background-color:white;
	color:RGBA(var(--bs-dark-rgb),var(--bs-bg-opacity,1));
	font-weight: bolder;

}
::-webkit-scrollbar{
	max-width:3px;
}
::-webkit-scrollbar-thumb{
	background:RGBA(var(--bs-dark-rgb),var(--bs-bg-opacity,1));
	border-radius: 5px;
	margin-left: 3px !important;	
}
hr{
	color: white;
}
.head{
	color:white;
	font-size: 20px;
} 
.conti{
	background-color: white
	border-radius: 5px;
	outline: none;
	border: none;
}
a{
	text-decoration: none;
	color: white;
}
#mysty{
	font-size: 20px;
	color: RGBA(var(--bs-dark-rgb),var(--bs-bg-opacity,1));
	background-color: white;
	padding: 0px 8px;
	cursor: pointer;
	border:none;
	font-weight: bolder;
}
@font-face {
        font-family: 'CenturyGothic';
        src: url('CenturyGothic.eot'); /* IE9 Compat Modes */
        src: url('CenturyGothic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
             url('CenturyGothic.woff') format('woff'), /* Modern Browsers */
             url('CenturyGothic.ttf')  format('truetype'), /* Safari, Android, iOS */
             url('CenturyGothic.svg#svgFontName') format('svg'); /* Legacy iOS */
}


	
