.mars{
	margin: 10px;
}
.toprow{
	background-color: RGBA(var(--bs-dark-rgb),var(--bs-bg-opacity,1));
	color: white;
	font-size: 26px;
	padding: 10px;
}
.headi{
	color: RGBA(var(--bs-dark-rgb),var(--bs-bg-opacity,1));;
}
.formargin{
	padding: 5px;
	background-color: white;
	padding-bottom: 0px;
}
.bod{
	border: 5px solid RGBA(var(--bs-dark-rgb),var(--bs-bg-opacity,1));
	border-bottom: 0px;
	border-top: 0px;
}
.bod2{
	border: 5px solid RGBA(var(--bs-dark-rgb),var(--bs-bg-opacity,1));
}
h5{
	margin-bottom: 0px;
}
.formargin2{
	background-color: white;
}

.headi3{
	margin: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	min-height: 565px;
	background-color: RGBA(var(--bs-dark-rgb),var(--bs-bg-opacity,1));
        border-radius: 2px;
	color: white;
}
p{
	font-size: 20px;
	margin: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.pwdbox{
	min-height: 30px;
	background-color: white;
	margin: 0px;
	margin-bottom: 20px;
}
.lensty{
	font-size: 17px;
	margin-bottom: 10px;
}
.ptype{
	min-height: 275px;
	background-color: white;
	padding-top: 10px;
}
.cre{
	margin-top: 13px;
	background-color: white;
	color: RGBA(var(--bs-dark-rgb),var(--bs-bg-opacity,1));
}
.cren{
	margin-top: 13px;
	background-color: white;
	color: RGBA(var(--bs-dark-rgb),var(--bs-bg-opacity,1));
	margin-left: 18px;
	padding-left: 10px;
	padding-right: 10px;
}
.phead{
	min-height: 25px;
	background-color: RGBA(var(--bs-dark-rgb),var(--bs-bg-opacity,1));
	font-size: 18px;
}
.ftop{
	margin: 0px;
	margin-top: 25px;
	color: RGBA(var(--bs-dark-rgb),var(--bs-bg-opacity,1));
	font-size: 18px;
}
input[type="checkbox"]{
	margin-right: 4px;
}
.every{
	margin-bottom: 20px;
}
.everyn{
	margin-bottom: 11px;
}
.note{
	color: RGBA(var(--bs-dark-rgb),var(--bs-bg-opacity,1));
	font-size: 11px;
	margin-top: 0px;
}
