@font-face {
  font-family: 'Century Gothic';
  src: url('CenturyGothic.ttf') format('truetype');
}
body {
  font-family: 'Century Gothic', sans-serif;
}
.mars{
	margin: 10px;
}
.toprow{
	background-color: RGBA(var(--bs-dark-rgb),var(--bs-bg-opacity,1));
	color: white;
	font-size: 26px;
	padding: 10px;
}
.headi{
	color: RGBA(var(--bs-dark-rgb),var(--bs-bg-opacity,1));;
}
.formargin{
	padding: 5px;
	background-color: white;
	padding-bottom: 0px;
}
.bod{
	border: 5px solid RGBA(var(--bs-dark-rgb),var(--bs-bg-opacity,1));
	border-bottom: 0px;
	border-top: 0px;
}
.bod2{
	border: 5px solid RGBA(var(--bs-dark-rgb),var(--bs-bg-opacity,1));
}
h5{
	margin-bottom: 0px;
	margin-top: 3px;
}
.formargin2{
	background-color: white;
}

.headi3{
	margin: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	min-height: 565px;
	background-color: RGBA(var(--bs-dark-rgb),var(--bs-bg-opacity,1));
        border-radius: 2px;
	color: white;
}
p{
	font-size: 20px;
	margin: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.pwdbox{
	min-height: 35px;
	background-color: white;
	margin: 0px;
	margin-bottom: 20px;
}
.lensty{
	font-size: 17px;
	margin-bottom: 10px;
}
.ptype{
	min-height: 275px;
	background-color: white;
	padding-top: 10px;
	margin-bottom: 13px;
}
.copy{
	margin-left: 18px;
	padding-left: 10px;
	padding-right: 10px;
}
.phead{
	min-height: 25px;
	background-color: RGBA(var(--bs-dark-rgb),var(--bs-bg-opacity,1));
	font-size: 18px;
}
.ftop{
	margin: 0px;
	margin-top: 25px;
	color: RGBA(var(--bs-dark-rgb),var(--bs-bg-opacity,1));
	font-size: 18px;
}
input[type="radio"]{
	margin-right: 4px;
}
input[type="checkbox"]{
	margin-right: 4px;
}
.every{
	margin-bottom: 20px;
}
.everyn{
	margin-bottom: 11px;
}
.note{
	color: RGBA(var(--bs-dark-rgb),var(--bs-bg-opacity,1));
	font-size: 11px;
	margin-top: 0px;
}
.saved{
	margin-bottom: 18px;
}
.result{
	color: RGBA(var(--bs-dark-rgb),var(--bs-bg-opacity,1));
	letter-spacing: 1px;
}
button[type="button"]{
	background-color: #FF9900;
	outline: none;
	border: none;
	border-radius: 5px;
	margin-top: 13px;
	padding: 5px;
	padding-top: 4px;
}
button[type="button"].clicked{
	background-color: white;
}
.chooselength{
	margin-bottom: 15px;
}
.rangevalue{
	color: white;
	font-size: 18px;
	margin-left: 10px;
	padding: 0px;
	margin: 0px;
	display: flex;
	align-items:center;
	justify-content: center;
}
.range{
	margin-right: 5px;
}
.forcen{
	display: flex;
	align-items:center;
	justify-content: center;
}
.range::-webkit-slider-thumb{
	background-color: orange;
}
.rescenter{
	display: flex;
	align-items: center;
	justify-content: center;
}
a{
	text-decoration: none;
	color: black;
}



